{% extends "base.html"%}

{% block pg_content %}
<div id='error404'>
    <h2>The page you are looking for cannot be found.</h2>
    <hr>
    <p>Return to our homepage <a href='/'>here.</a><p>
    <img src='../static/svg/404.svg' alt='Error 404'>
</div>

{% endblock %}