<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rooster | {{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/static/bootstrap_5.01.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
    </head>

    <body class='h-100'>
        <header class='fixed-top'>
            <nav class='navbar navbar-expand-lg navbar-light bg-light justify-content-between'>
                <span class='navbar-brand mb-0'>
                    <h1><a href='/'>The Rooster.</a></h1>
                </span>
                <div class='d-flex'>
                    <ul class='navbar-nav'>
                        <li class='nav-item'>
                            <a href='/' class='nav-link {{"active" if title == "Home" }}'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a href='/compare' class='nav-link {{"active" if title =="Compare"}}'>Compare</a>
                        </li>
                        <li class='nav-item'>
                            <a href='/raw' class='nav-link {{"active" if title == "Raw Data"}}'>Raw Data</a>
                        </li>
                    </ul>
                    <form class='d-flex'>
                        <input class='form-control me-2' type='search' placeholder='Search...' aria-label='search'>
                        <button class='btn btn-outline-primary me-2' type='submit'>Search</button>
                    </form>
                </div>
            </nav>
        </header>

        <main id='content'>
            {% block pg_content %}

            {% endblock %}
        </main>

        <footer class='footer bg-light fixed-bottom'>
            <h3>footer content</h3>
        </footer>
    </body>

</html>
