{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li>
        <!-- /*old_hardcoded*/ a href="/polls/{{ question.id }}/">
        this works via the router in urls.py
        polls:detail added because urls.py now sees urlpatterns under 'polls' app_name namespace-->
        <a href="{% url 'polls:detail' question.id%}">
        {{ question.question_text }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls available.</p>
{% endif %}