/* base page */
header{
    border-bottom: solid black 3px;
}
header h1 a{
    color: inherit;
    text-decoration: inherit;
}
header h1 a:hover{
    color: inherit;
}
footer{
    border-top: solid black 1px;
    display: flex;
    justify-content: center;
}
#content{
    margin-top: 82px;
}

/*error page*/
#error404{
    padding-top: 2vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
}
#error404 hr{
    margin: .25rem !important;
}